# The original data can not be uploaded.
# Do not download without permission. 
# s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip
# s3.amazonaws.com/udacity-hosted-downloads/ud507/pisadict2012.csv
pisa2012.csv.zip
pisa2012.csv
pisadict2012.csv

# Local spyder project files are not tracked
.spyproject/
# Local cache not tracked
__pycache__/
